/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
margin: 0;
padding: 0;
}

body {
font-family: serif;
}

li {
list-style: none;
}

/* ここからCSSを記述してください */
header {
  background-color:#EAEAE0;
  height:90px;
  color:#00336D
}

.header-logo{
  float:left;
  font-size: 36px;
  padding:20px 40px;
}

.header-list li{
  padding:33px 20px;
  float:left;
}

.main{
  padding:100px 80px;
}

.copy-container{
  color: #00336D;
}

.copy-container h1{
    font-size:140px;
}

.copy-container h2{
  font-size: 60px;
}

.contents {
  color:#00336D;
  border-top: 10px solid #4D9BE8;
  padding:10px;
  margin:20px;
}

.contact-form{
  padding-top: 100px;
}

input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #EAEAE0;
}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

footer{
  background-color:#00336D;
  color:#4D9BE8;
  height:120px;
  padding:40px

}

.footer-logo{
  float:left;
  font-size:32px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom: 20px;
}
